body {
  margin: 0;
  background-image: url(../images/background_header.svg);
  min-width: 1100px;
  max-width: 1600px;
  height: 100vh;
  background-size: cover;
  font-size: 16px;
  line-height: 20px;
}

.logo {
  width: 105px;
  height: 39px;
  position: relative;
  top: 30px;
  left: 26px;
}
.nav-links {
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 20px;
  padding: 0 26px 0 0;
}
.nav-link {
  text-decoration: none;
  color: black;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500px;
}
.nav-link:hover {
  color: #ff976b;
}

.span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #ff976b;
}

.header-image {
  width: 646px;
  height: 568px;
  position: absolute;
  top:124px;
  right: 5px;
}

.header-title{
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 58px;
line-height: 72px;
letter-spacing: -1px;
max-width: 709px;
margin:183px 0 28px 0;
}

.header-description{
    font-family: "Noto Serif", 'Times New Roman', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 689px;
    margin:0;
}

.header-title, .header-description{
  padding-left:80px;
}
.header-info{
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 150px 80px 40px 80px;
  align-items: end;
}

.info-text{
  font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
color: #6F6F6F;
}
